@import url('bootstrap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
}

.card {
  position: relative;
  overflow: hidden;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  overflow-y: auto;

  opacity: 0;
  transition: opacity 0.3s ease;
}


.card:hover .overlay {
  opacity: 1;
}